/* Container principal et référence de perspective */
.button-grid-container {
  border: solid rgba(0, 255, 0, 0.5)  2px;
  background-color: transparent;
  position: relative;
  perspective: 1000px;
  width: 100vw;
  height: 80vh;
}

.button-grid-container2 {
  border: solid rgba(0, 255, 0, 0.5)  2px;
  background-color: transparent;
  position: absolute;
  perspective: 1000px;
  width: 100vw;
  height: 80vh;
}

/* Bordure de grille statique */
.button-grid {
  border: solid rgba(0, 255, 0, 0.5) 2px;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 80vh;
  box-sizing: border-box;
}

/* cases de bouton pour ghost-grid */
.grid-option {
  border: solid rgba(0, 255, 0, 0.5) 2px;
  background-color: transparent;
  width: 22vw;
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* boutton statique */
.button2off {
  background-color: rgba(173, 255, 47, 0.05);
  border-width: 1rem;
  border-color:rgba(0, 255, 0, 0.2) ;
  color: rgba(0, 255, 0, 0.4) ;
  font-size: 2rem;
  width: 22vw;
  height: 18vh;
}

.button2on {
  /* background-color: rgba(0, 255, 0, 0.7) ; */
  background-color: gold ;
  border-width: 1rem;
  border-color:rgba(0, 255, 0, 0.5) ;
  color: rgba(0, 255, 0, 1) ;
  font-size: 2rem;
  width: 22vw;
  height: 18vh;
  animation: activation 2.420s;

}

@keyframes activation {
  0% {
    opacity: 0.4;
  }
  10% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.8;
  }
}

/* Grille approchant du fond */
.beat-grid {
  border: solid rgba(173, 255, 47, 0.2) 1rem;
  background-color: transparent;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  animation: approach 2.420s ease-out forwards; 
}

/* cases de bouton pour button-grid) */
.beat-grid-option {
  border: solid rgba(173, 255, 47, 0.1) 2px;
  background-color: transparent;
  width: 22vw;
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Animation d'approche */
@keyframes approach {
  0% {
    transform: translateZ(-10000px);
    /* opacity: 0;  */
  }
  86% {
    transform: translateZ(0);
    /* opacity: 0.3; */
  }
  87% {
    /* opacity: 1; */
  }
  90% {
    transform: translateZ(0);
    /* opacity: 1; */
  }
  100% {
    transform: translateZ(1000px); 
    /* opacity: 0;  */
  }
}