/* Container principal et référence de perspective */
.button-grid-container {
  border: solid rgba(0, 255, 0, 0.5)  2px;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  perspective: 1000px;
  width: 100vw;
  height: 80vh;
  box-sizing: border-box;
}

/* Bordure de grille statique */
.button-grid {
  border: solid rgba(0, 255, 0, 0.5) 2px;
  box-sizing: border-box;
  background-color: transparent;
  padding: 1vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;

  position: absolute;
  width: 100vw;
  height: 80vh;
}

/* Bouton de grille statique */
.grid-option {
  border: solid rgba(0, 255, 0, 0.5) 2px;
  box-sizing: border-box;
  background-color: transparent;
  width: 22vw;
  height: 18vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Grille approchant du fond */
.beat-grid {
  /* border: solid rgba(173, 255, 47, 0.2) 1rem; */
  /* box-sizing: border-box; */
  background-color: transparent;
  pointer-events: none;
  width: 100vw;
  height: 80vh;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  transform:  rotate3d(100,100,1,0);
  position: absolute;
  box-sizing: border-box;
  animation: approach 2.420s ease-out forwards; 
  perspective: 150px;
}

/* Animation d'approche */
@keyframes approach {
  0% {
    transform: translateZ(-6000rem);
  }
  80% {
    transform: translateZ(1000px); 
  }
  100% {
    transform: translateZ(1000px); 
  }
}

/* cases de bouton pour beat-grid */
.beat-grid-option-off {
  /* border: solid rgba(173, 255, 47, 0.2) 1rem; */
  box-sizing: border-box;
  background-color: transparent;
  /* width: 11vw; */
  /* height: 9vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.beat-grid-option-active {
  border: solid rgba(0, 255, 0, 0.8) 4px;
  box-sizing: border-box;
  background-color: transparent;
  width: 1rem;
  height: 3vh;

  display: flex;
  justify-content: center;
  align-items: center;
  
  transform:  rotate3d(1,1,1,120deg);
  position: relative;
  left: 50%;
  top: 50%;
}

  

/* WIP */

/* .button-grid-container2 {
  border: solid rgba(0, 255, 0, 0.5)  2px;
  background-color: transparent;
  position: absolute;
  perspective: 1000px;
  width: 100vw;
  height: 80vh;
} */

/* .targets {
  transform: rotate3d(1,1,1,120deg);
  border: solid red 4px;
  box-sizing: border-box;
  background-color: red;
  width: 10rem;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */