/* boutton statique */
.button2off {
  background-color: rgba(173, 255, 47, 0.05);
  border-width: 1rem;
  border-color:rgba(0, 255, 0, 0.2) ;
  color: rgba(0, 255, 0, 0.4) ;
  font-size: 1rem;
  width: 22vw;
  height: 18vh;
}

.button2on {
  /* background-color: rgba(0, 255, 0, 0.3)  ; */
  background-color: rgba(255,215,0,0.3)  ;

  border-width: 1rem;
  /* border-color:rgba(0, 255, 0, 0.3) ; */
  border-color:rgba(255,215,0,0.3)  ;

  /* color: black ; */
  font-size: 1rem;
  width: 22vw;
  height: 18vh;

}

.button2hit {
  background-color: rgba(0, 255, 0, 0.7) ; 
  border-width: 1rem;
  border-color:rgba(0, 255, 0, 0.7) ;
  font-size: 1rem;
  width: 22vw;
  height: 18vh;
}

.button2miss {
  background-color: rgba(255,0,0,0.3);
  border-width: 1rem;
  border-color:rgba(255,0,0,0.3) ;
  font-size: 1rem;
  width: 22vw;
  height: 18vh;
}