.toggle-control-button {
    position: absolute;
    right: 0;
    bottom: 0;
}

.control-container {
    border: solid blue 4px;

    width: 100%;

    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}

.audio-context-control-container {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}

.beat-dif-container {
    background-color: aquamarine;

    display: flex;
    justify-content: space-around;
}

.beat-dif-element {
    min-width: 15%;

    text-align: center;
    display: flex;
    justify-content: center;
}

.time-jumps-container {
    background-color: pink;
    display: flex;
}

.time-jump {
    border: solid purple 2px;
}