.game-page-top {
    /* border: solid rgba(0, 255, 0, 1)  0.6vh; */

    padding: 0 1.5% 0 1.5%;
    width: 100%;
    min-height: 14%;
    font-size: 1.1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}

.g-p-top-line {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.g-p-bottom-line {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

/* GEC (combined with game-element-container) */
.gec-game-state {
    width: 40%;
    height: 3.2vh;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gec-num {
    color: orangered;

    min-width: 2.8rem;
    height: 3.2vh;

    justify-content: center;
}
.gec-command {
    height: 6vh;
    font-size: 1.6rem;
}

 /* SCORE */
.gec-score {
    width: 55.2%;
    height: 3.2vh;

    justify-content: space-between;
}

.score-bar {
    background-color: rgba(0, 255, 255, 1);

    height: 3.2vh;

    box-shadow: 0 0 5px rgba(0, 255, 255, 1),
    0 0 8px rgba(0, 255, 255, 1),
    0 0 18pxrrgba(0, 255, 255, 1),
    0 0 60px rgba(0, 255, 255, 1);
    -webkit-box-reflect: below 1px linear-gradient(transparent rgba(0, 255, 255, 1));

}

/* MISSED TARGETS */
.missed-targets-bar {
    background-color: rgba(255,0,255,1);

    height: 3.2vh;

    box-shadow: 0 0 5px rgba(255,0,255,0.6),
    0 0 25px rgba(255,0,255,0.6),
    0 0 50px rgba(255,0,255,0.6),
    0 0 100px rgba(255,0,255,0.6);
    -webkit-box-reflect: below 1px linear-gradient(transparent rgba(255,0,255,1));
}

/* MISSED SHOTS */
.gec-missed-shots {
    height: 3.2vh;
    min-width: 20.7vh;
    max-width: 20.7vh;
}

.missed-shots-container {   
    display: flex;

    box-sizing: border-box;
}
.missed-shot {
    margin: 0.15vh;
    height: 2.9vh;
    min-width: 1vh;
    max-width: 1vh;

    opacity: 0.5;

    box-sizing: border-box;
}
.m-s-1 {
    background-color: rgba(255,215,0,0.9);

    box-shadow: 0 0 5px rgba(255,215,0,0.6),
    0 0 8px rgba(255,215,0,0.6),
    0 0 18px rgba(255,215,0,0.6),
    0 0 60px rgba(255,215,0,0.6);
    -webkit-box-reflect: below 1px linear-gradient(transparent rgba(255,215,0,1));
}
.m-s-2 {
    background-color: rgba(255, 165, 0, 0.9);

    box-shadow: 0 0 5px rgba(255, 165, 0, 0.6),
    0 0 8px rgba(255, 165, 0, 0.6),
    0 0 18px rgba(255, 165, 0, 0.6),
    0 0 60px rgba(255, 165, 0, 0.6);
    -webkit-box-reflect: below 1px linear-gradient(transparent rgba(255, 165, 0, 1));
}
.m-s-3 {
    background-color: rgba(255,0,0,0.9);

    box-shadow: 0 0 5px rgba(255,0,0,0.6),
    0 0 8px rgba(255,0,0,0.6),
    0 0 18px rgba(255,0,0,0.6),
    0 0 60px rgba(255,0,0,0.6);
    -webkit-box-reflect: below 1px linear-gradient(transparent rgba(255,0,0,1));
}
.m-s-4 {
    background-color: rgba(255,0,255,0.9);

    box-shadow: 0 0 5px rgba(255,0,255,0.6),
    0 0 8px rgba(255,0,255,0.6),
    0 0 18px rgba(255,0,255,0.6),
    0 0 60px rgba(255,0,255,0.6);
    -webkit-box-reflect: below 1px linear-gradient(transparent rgba(255,0,255,1));
}

@media screen and (max-height: 500px) {
    .game-page-top {
        font-size: 0.8rem;
    }
    .gec-command {
        font-size: 1.2rem;
    }
}
