.game-page {
    padding: 1%;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.game-element-container {
    background-color: rgba(0, 255, 0, 0.1);
    border: solid rgba(0, 255, 0, 0.6) 2px;
    color: lime;

    padding: 2px;
    margin: 1%;
    height: 3.2vh;
    font-size: 1.1rem;

    display: flex;
    align-items: center;

    box-shadow: 0 0 5px rgba(0, 255, 0, 0.2),
    0 0 8px rgba(0, 255, 0, 0.2),
    0 0 18px rgba(0, 255, 0, 0.2),
    0 0 60px rgba(0, 255, 0, 0.2);
    -webkit-box-reflect: below 1px linear-gradient(transparent lime);

    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.button-panel {
    /* border: solid rgba(0, 255, 0, 1)  0.6vh; */

    background-color: transparent;
  
    width: 100%;
    height: 72%;

    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.game-page-bottom {
    /* border-top: solid rgba(0, 255, 0, 1)  0.6vh; */

    padding: 0 1.5% 0 1.5%;
    width: 100%;
    min-height: 14%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}