.score-status {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-status-top-line {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.score-status-bottom-line {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

/* GEC (combined with game-element-container) */
.gec-game-state {
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gec-score {
    width: 55.2%;
    justify-content: space-between;
}
.gec-missed-shots {
    width: 27.6%;
}
.gec-num {
    color: gold;
    min-width: 2rem;
    justify-content: center;
}
.gec-beat {
    color: orangered;
    min-width: 2.5rem;
    justify-content: center;
}.gec-command {
    height: 6vh;
    font-size: 1.6rem;
}


.score-bar {
    background-color: rgba(255,215,0,0.5);

    height: 3vh;

    box-shadow: 0 0 5px rgba(255,215,0,0.2),
    0 0 8px rgba(255,215,0,0.2),
    0 0 18px rgba(255,215,0,0.2),
    0 0 60px rgba(255,215,0,0.2);
    -webkit-box-reflect: below 1px linear-gradient(transparent rgba(255,215,0,1));
}
.score-bar-active {
    background-color: rgba(255,215,0,0.9);

    height: 3vh;

    box-shadow: 0 0 5px rgba(255,215,0,0.6),
    0 0 8px rgba(255,215,0,0.6),
    0 0 18px rgba(255,215,0,0.6),
    0 0 100px rgba(255,215,0,0.6);
    -webkit-box-reflect: below 1px linear-gradient(transparent rgba(255,215,0,1));
}

/* MISSED TARGETS */
.missed-targets-bar {
    background-color: rgba(255,0,255,0.5);

    height: 3vh;

    box-shadow: 0 0 5px rgba(255,0,255,0.2),
    0 0 8px rgba(255,0,255,0.2),
    0 0 18px rgba(255,0,255,0.2),
    0 0 60px rgba(255,0,255,0.2);
    -webkit-box-reflect: below 1px linear-gradient(transparent rgba(255,0,255,1));
}
.missed-targets-bar-active {
    background-color: rgba(255,0,255,0.9);

    height: 3vh;

    box-shadow: 0 0 5px rgba(255,0,255,0.6),
    0 0 25px rgba(255,0,255,0.6),
    0 0 50px rgba(255,0,255,0.6),
    0 0 100px rgba(255,0,255,0.6);
    -webkit-box-reflect: below 1px linear-gradient(transparent rgba(255,0,255,1));
}

/* MISSED SHOTS */
.missed-shot {
    margin: 1%;
    height: 2.8vh;
    min-width: 4.3%;
    opacity: 0.5;

    box-sizing: border-box;
}
.m-s-1 {
    background-color: rgba(255,215,0,0.9);

    box-shadow: 0 0 5px rgba(255,215,0,0.6),
    0 0 8px rgba(255,215,0,0.6),
    0 0 18px rgba(255,215,0,0.6),
    0 0 60px rgba(255,215,0,0.6);
    -webkit-box-reflect: below 1px linear-gradient(transparent rgba(255,215,0,1));
}
.m-s-2 {
    background-color: rgba(255, 165, 0, 0.9);

    box-shadow: 0 0 5px rgba(255, 165, 0, 0.6),
    0 0 8px rgba(255, 165, 0, 0.6),
    0 0 18px rgba(255, 165, 0, 0.6),
    0 0 60px rgba(255, 165, 0, 0.6);
    -webkit-box-reflect: below 1px linear-gradient(transparent rgba(255, 165, 0, 1));
}
.m-s-3 {
    background-color: rgba(255,0,0,0.9);

    box-shadow: 0 0 5px rgba(255,0,0,0.6),
    0 0 8px rgba(255,0,0,0.6),
    0 0 18px rgba(255,0,0,0.6),
    0 0 60px rgba(255,0,0,0.6);
    -webkit-box-reflect: below 1px linear-gradient(transparent rgba(255,0,0,1));
}
.m-s-4 {
    background-color: rgba(255,0,255,0.9);

    box-shadow: 0 0 5px rgba(255,0,255,0.6),
    0 0 8px rgba(255,0,255,0.6),
    0 0 18px rgba(255,0,255,0.6),
    0 0 60px rgba(255,0,255,0.6);
    -webkit-box-reflect: below 1px linear-gradient(transparent rgba(255,0,255,1));
}

