.score-container {
    background-color: transparent;
    border: solid lime 0.6vh;

    margin: 4px;
    width: 55.2%;
    height: 3vh;

    display: flex;
    justify-content: space-between;
}

.missed-shots-container {
    background-color: transparent;
    border: solid lime 0.6vh;

    margin: 4px;
    padding: 0.2vh;
    width: 27.6%;
    height: 3vh;

    display: flex;
}

.missed-shot {
    background-color: red;

    margin: 0.2vh;
    height: 2.8vh;
    min-width: 4%;

    box-sizing: border-box;
}


/* (WIP) */
.missed-targets-container {
    background-color: transparent;
    border: solid lime 0.4vh;

    width: 27.6vw;
    height: 3vh;

    display: flex;
}

.missed-target {
    background-color: purple;
    margin: 0.5vh;

    height: 2vh;
    min-width: 2vh;

    box-sizing: border-box;
}