.home-page {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-button {
    background-color: gold;
    border: solid gold 2px;

    width: 4rem;
    height: 4rem;
    border-radius: 6px;

    box-shadow: 0 0 5px gold,
    0 0 25px gold;

    font-family: 'Roboto, sans-serif'
}
.start-button:hover {
    cursor: pointer;
}

  