.home-page {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-button {
    background-color: gold;
    box-shadow: 0 0 5px gold,
    0 0 25px gold,
    0 0 50px gold,
    0 0 200px gold;
    -webkit-box-reflect: below 1px linear-gradient(transparent gold);
}
  