@import "./styles/reset.css";
@import "./styles/homePageStyles/homePage.css";
@import "./styles/gamePageStyles/gamePage.css";
@import "./styles/gamePageStyles/ScoresStatus.css";
@import "./styles/gamePageStyles/beatGridGenerator.css";
@import "./styles/gamePageStyles/buttonGrid.css";
@import "./styles/gamePageStyles/gameButton.css";
@import "./styles/controlStyles/control.css";


.App {
  /* background-color: #282c34; */
  background-color: black;

  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  overflow: hidden;
}

main {
  width: 100vw;
  max-width: 100vh;
  height: 100vh;
}