@import "./reset.css";
@import "./styles/buttonList.css";
@import "./styles/gameButton.css";


.App {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
}