@import "./styles/reset.css";
@import "./styles/homePageStyles/homePage.css";
@import "./styles/gamePageStyles/gamePage.css";
@import "./styles/gamePageStyles/gamePageTop.css";
@import "./styles/gamePageStyles/beatGridGenerator.css";
@import "./styles/gamePageStyles/buttonGrid.css";
@import "./styles/gamePageStyles/gameButton.css";
@import "./styles/controlStyles/control.css";


.App {
  /* background-color: #282c34; */
  background-color: black;

  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  overflow: hidden;

  /* FONT */
  /* <uniquifier>: Use a unique and descriptive class name */
  /* <weight>: Use a value from 200 to 900 */
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

main {
  width: 100vw;
  max-width: 100vh;
  height: 100vh;
}